*{
    padding: 0%;
    margin: 0%;
}

.jk{
    /* background-image: url('./imgs/bg\(ff\).jpg'); */
    background-color: #042743;
    /* background-size: cover;
    background-repeat: no-repeat; */
}
/* .na{
    position: fixed;
    z-index: 1;
    width: 100%;
} */
/* .ti{
    padding-top: 18rem;
    padding-left: 28rem;
    text-align: center;
} */

